*{
    padding:0px;
    margin:0px;
    box-sizing: border-box;
}
.aboutusmain{
    display: block;
    margin:0px 20px 0px 50px ;
}
.aboutheading{
    font-size: 50px;
    color: #6C63FF;
    padding:50px 0px 20px 20px;
}
.aboutmedesc{
    width: 70%;
    margin-bottom: 20px;
    /* padding:20px; */
}
.aboutintro{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.downloadcv{
    padding:20px;
    border-radius: 10px;
    border: none;
    background-color: #6C63FF;
    color: aliceblue;
    /* margin-left: 40px; */
}
.downloadcv:hover{
    background-color: aliceblue;
    color: #6C63FF;
    border:1px solid #6C63FF
}
.eachexperience{
    /* background-color: rgb(7, 218, 165); */
    padding: 1em;
    border-radius: 10px;
    /* width: 320px; */
    clip-path: circle(15% at 23% 40%);
    transition: all .5s ease-in-out;
    cursor: pointer;

}
.eachexperience img{
    width: 50px;
    height: 50px;
    border-radius:50% ;
    margin:20px 0px 10px 50px;
}
.experience{
    display: flex;
    margin: 20px;
    margin-left: 50px;
    /* flex-wrap: wrap; */
    /* align-items: center; */
    /* width: 400px;
    justify-content: space-around; */
}
.eachexperience:hover{
    clip-path: circle(75%);
    background-color: #6C63FF;
}
.eachexperience.open{
    clip-path: circle(75%);
    background-color: #6C63FF;
}
.eachexperience img{
    /* float: left; */
    color: white;
    font-weight: bold;
    transition: color .5s;
    /* position: relative; */
    /* margin-right: 6%; */
}
.eachexperience:hover span{
    /* color: rgba(0, 0, 0, 0); */
}
.eachexperience h1,.eachexperience p{
    color:white;
    display: block;
    padding:10px;
}
@media(max-width:1100px){
    .eachexperience{
        clip-path: circle(20% at 30% 45%);
    }   
}
@media(max-width:800px){
    .eachexperience{
        clip-path: circle(30% at 37% 30%);
    }   
}
@media(max-width:600px){
    .aboutsvg{
        /* display: none; */
    }
    .aboutintro{
        flex-direction: column-reverse;
    }
    .aboutmedesc{
        width: 100%;
    }
    .aboutheading{
        font-size: 30px;
    }
    .experience{
        flex-wrap: wrap;
    }
    .eachexperience{
        clip-path: circle(23% at 15% 15%)
    }
    .eachexperience img{
        margin: 0px;
    }   
}
